/*сброс стилей браузеров*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 10px;*/
}

*,*:defore,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active {
  outline: none;
}

a:focus,a:active {
  outline: none;
}

input,button,textarea {
  font-family: inherit;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*Подключение шрифтов*/

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 400;
}


/*popup*/

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  z-index: 5;

  min-width: 100%;
  height: 100vh;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.6);
}



.popup-container {
  position: relative;

  max-width: 390px;

  background-color: #ffffff;

}


.popup-content {
  margin: 53px 30px;
}

.popup-form {
  margin-top: 32px;
}

.popup-column {
  margin-bottom: 33px;
}

.popup-column:last-child {
  margin-bottom: 0;
}

.popup-group {
  display: block;
}


.popup-hint {
  font-size: 13px;
  line-height: normal;
  display: block;

  margin-bottom: 9px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: auto 15px;

  display: block;
  box-sizing: border-box;
  min-width: 100%;
  height: 50px;
  background-color: #f4f7f6;

  padding-left: 19px;
  margin: 0;

  font-family: inherit;
  font-size: 13px;
  line-height: normal;
}

.group-radio {
  display: inline-block;
  font-size: 13px;
  line-height: normal;
}

.group-radio:nth-of-type(n+2) {
  margin-left: 16px;
}

.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);

  height: 1px;
  width: 1px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 16px;
  height: 16px;
  margin-right: 5px;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  
}

.radio:checked ~ .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.textarea {
  display: block;

  box-sizing: border-box;

  min-width: 100%;
  max-width: 100%;
  min-height: 131px;
  max-height: 131px;
  resize: none;

  padding: 23px 19px;

  background-color: #f4f7f6;

  font-size: 13px;
  line-height: normal;
}

.popup-button {
  width: 100%;
  height: 47px;

  background-color: #b59f5b;
}

.popup-button-text {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.popup-close {
  position: absolute;

  top: -30px;
  right: 0;

  height: 18px;
  width: 18px;

  background-color: transparent;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

}

.popup-close-button-text {
  position: absolute;
  
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}

._hidden {
  display: none;
}

/*header*/

.header {
  position: relative;

  max-width: 100%;

  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000000;
  opacity: 0.6;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  position: relative;
  z-index: 2;
}

.header-panel {
  padding-top: 25px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 180px;
  display: block;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
}

.menu-button {
  width: 1.4em;
  height: 1em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
}

.menu-button:before, .menu-button:after {
  content:"";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;

  position: absolute;
  left: 0;
}

.menu-button:before {
  top: 0;
}

.menu-button:after {
  bottom: 0;
}

.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;
}

.menu-list {

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-list-item {
  margin-left: 35px;
}

.menu-link {
  font-size: 13px;
  line-height: normal;

  text-transform: uppercase;
  color: #ffffff;
}

.header-lead {
  margin-top: 0;
  margin-bottom: 0;
  width: 690px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 145px;

  font-size: 45px;
  font-weight: 700;
  line-height: 75px;

  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

/*trends*/

.trends {
  margin-top: 59px;
  max-width: 100%;
}

.title {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 14px;
  box-sizing: border-box;

  text-align: center;
  font-weight: 700;

  color: #0f0d0e;
  text-transform: uppercase;
}

.title::after {
  position: absolute;
  bottom: 0;
  right: calc(50% - 33px);

  width: 66px;
  height: 3px;

  background-color: #b59f5b;

  content: "";
}

.trends-title, .shop-title {
  font-size: 20px;
}

.trends-lists {
  margin-top: 28px;

}

.trend-list-item {
  position: relative;
  
  box-sizing: border-box;

}

.trend-list-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000000;
  opacity: 0.6;

  z-index: 1;
}

.trend-list-img {
  width: 100%;
}

.trend-list-content{
  border: 3px solid #b59f5b;
  position: absolute;
  
  left: 15px;
  right: 15px;
  bottom: 13px;

  padding: 19px 29px;
  box-sizing: border-box;

  z-index: 2;
}

.content-trend-title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  text-transform: uppercase;
}

.content-trend-link {
  color: #ffffff;
}

/* main */

.container-main {

  margin-top: 64px;
  margin-bottom: 64px;
}

/* section */

/* article */

.post-list-img {
  display: block;
  
  width: 100%;
}

.post-list-content {
  width: 100%;
  box-sizing: border-box;
}

.content-header {
  margin-bottom: 25px;
}

.menu-post {
  display: flex;

  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 0;

  list-style: none;
}

.menu-post-item {
  margin-right: 20px;
}

.menu-post-link {
  font-size: 14px;
  line-height: normal;
  font-weight: 700;

  color: #b59f5b;
  text-transform: uppercase;
}

.content-post-title {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  text-transform: uppercase;
}

.content-post-link {
  color: #0f0d0e;
}

.content-post-date {
  font-size: 12px;
  line-height: normal;
  font-weight: 400;

  color: #888888;
}

.content-post-author {
  margin-left: 15px;

  font-size: 12px;
  line-height: normal;
  font-weight: 700;

  text-decoration: none;
  color: #000000;
}

.content-post-text {
  font-size: 14px;
  line-height: 20px;

  color: #0f0d0e;
}

/* aside */

/* recent posts */

.recent-posts {
  margin-bottom: 60px;
}

.sidebar-title {
  font-size: 14px;
  line-height: normal;
}

.recent-post-item {
  display: flex;
  justify-content: space-between;
}

.recent-post-item:nth-child(2) {
  margin-top: 27px;
}

.recent-post-item:nth-child(n + 3) {
  margin-top: 20px;
}

.recent-post-img {
  display: block;
  width: 70px;
  height: 70px;
}

.recent-list-content {
  width: 185px;
  box-sizing: border-box;
}

.recent-post-item-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;

  text-transform: uppercase;
}

.recent-post-link {
  color: #000000;
}

/* form-search */

.form-search {
  display: flex;

  margin-top: 58px;
}

.form-group-search, .form-group {
  display: block;
}

.form-hint {
  position: absolute;

  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.field {
  -webkit-appearance:none;
  -moz-appearance:none;
  padding-left: 18px;

  box-sizing: border-box;
  width: 222px;
  height: 48px;
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;

  background-color: #f4f7f6;
  border: none;
}

.button {
  box-sizing: border-box;
  width: 48px;
  height: 48px;

  font-family: inherit;

  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;

  border: none;
  cursor: pointer;
}

.button-text {
  position: absolute;

  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* newsletter */

/* form-subscribe */

.subscribe {
  margin-bottom: 61px;
}

.form-subscribe {
  margin-top: 23px;
  /*width: 270px;*/
}

.field-subscribe {
  box-sizing: border-box;
  width: 270px;
  height: 48px;
  padding: 18px 17px;

  font-size: 13px;
  font-weight: 400;
  font-family: inherit;

  border: none;
  background-color: #f4f7f6;
}

.button-subscribe {
  box-sizing: border-box;
  width: 270px;
  height: 48px;

  margin-top: 17px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;

  background-color: #b59f5b;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* tags */

.tags {
  margin-bottom: 43px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin-top: 23px;
  margin-bottom: 0;
  box-sizing: border-box; /* !!! */
  width: 270px;

  /*list-style: none;*/
}

.tags-list-item {
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0 12px;
  border: 3px solid #f4f3f1;
}

.tags-list-link {
  
  /*box-sizing: border-box;*/

  font-size: 12px;
  font-weight: 700;

  color: #0f0d0e;
  text-transform: uppercase;
  
}

/* categories */

.categories-list {
  padding: 0;
  margin-top: 12px;
  margin-bottom: 0;

  list-style: none;
}

.categories-list-item {
  padding-top: 17px;
  padding-bottom: 17px;

  border-bottom: 1px solid #eeeeee;
}

.categories-list-link {
  display: inline-block;
  
  font-size: 14px;
  font-weight: 700;

  color: #0f0d0e;
}

.categories-list-counter {
  display: inline-block;
  vertical-align: bottom;
  
  font-weight: 700;
  margin-left: 9px;
  padding-bottom: 4px;

  color: #b59f5b;
}

/*shop*/

.container-shop {

  margin-bottom: 64px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    margin-top: 28px;
  }

.product {
  display: flex;
  flex-direction: column;

  width: 30%;
  box-sizing: border-box;
  }

.product-img {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.product-body {

  flex-grow: 1;
  position: relative;
  border: 3px solid #b59f5b;
  padding-top: 53px;
  margin-top: -30px;

  padding-left: 23px;
  padding-right: 23px;

  z-index: 2;
}

.product-title {

  font-size: 20px;
  font-weight: 700;

  text-transform: uppercase;
}


.product-description{
  font-size: 15px;
  line-height: 22px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.product-description-link {
  color: #b59f5b;

}

.product-footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 26px;
  padding-bottom: 70px;
  

  justify-content: space-between;
  align-items: center;
}

.product-price {
  display: flex;

  font-size: 20px;
  line-height: 1;
  font-weight: 700;

  color: #0f0d0e;
  text-transform: uppercase;
}

.product-price_old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
}

.product-rub {
  margin-left: .2em;
}

.product-button {

  background-color: #b59f5b;
  padding: 17px 28px;

  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

/* footer */

.container-footer {
  text-align: center;
}

.articles-socials {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #f4f7f6;
}

.socials {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.socials-item {
  display: inline-block;

  margin-left: 5px;
  margin-right: 5px;
}

.socials-link {
  display: inline-block;

  padding: 5px;
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.socials-link-text {
  position: absolute;

  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.footer-copyright {
  margin-top: 46px;
  margin-bottom: 48px;
  
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
}

.copyright-link {
  color: #999999;
}

/*Медиа запросы*/

@media (min-width: 641px) {
  .container-main {
   display: flex;
    justify-content: space-between;
  }

  .content-post-text {
    font-size: 15px;
    line-height: 22px;
  }
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }

  .container {
    max-width: 1170px;
  }

  .trends-lists {
    display: flex;
    justify-content: space-between;
  }

  .trend-list-content{
  
    left: 20px;
    right: 20px;
    bottom: 15px;

    padding: 35px 30px;
  }

  .post-list-item {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
  }

  .post-list-item:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .post-list-img {
    display: block;
  
    width: 381px;
    height: 294px;
  }

  .post-list-content {
    width: 370px;
    margin-left: 30px;
  }

  .menu-list {
    display: flex;
  }

  .trend-list-item {
    width: calc((100% / 4) - (3*2px));
  }

  .product:nth-child(3n+2) {
    margin-left: 5%;
    margin-right: 5%;
  }
  .footer-copyright {
    margin-top: 72px;
    margin-bottom: 46px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header-panel {
    padding-top: 42px;
    padding-bottom: 88px;
  }

  .menu-list {
    display: none;
  }

  .container {
    max-width: 698px;
  }


  .trends-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
  }

  .trend-list-item {
    width: calc((100% / 2) - (3*2px));
  }

  .trend-list-item:nth-child(n+3) {
    margin-top: 3px;
  }

  .trend-list-content{
  
    left: 19px;
    right: 19px;
    bottom: 14px;

    padding: 32px 29px;
  }

  .product {
    width: 48%;
  }

  .product:nth-child(n+3) {
    margin-top: 28px;
  }

  .product:nth-child(even) {
    margin-right: 0;
    margin-left: 4%;
  }

  .header-logo {
    width: 158px;
  }

  .header-lead {
    width: 615px;
    padding-bottom: 124px;

    font-size: 40px;
    line-height: 55px;
  }

  .post-list-item:nth-child(n + 2) {
    padding-top: 45px;
    margin-top: 22px;

    border-top: 4px solid #eeeeee;
  }

  .post-list-img {
    width: 393px;
    height: 302px;
  }

  .post-list-content {
    width: 393px;
    margin-top: 16px;
  }

  .content-post-title {
    font-size: 17px;
    line-height: 22px;
  }

  .content-trend-title {
    font-size: 17px;
    line-height: 22px;
  }

  .trends-title, .shop-title {
    font-size: 18px;
  }

  .product-title {
    font-size: 17px;
  }

  .container-shop {
    margin-bottom: 50px;
  }
  .footer-copyright {
    margin-top: 48px;
    margin-bottom: 40px;
  }
}



@media (max-width: 640px) {
  .container {
    max-width: 330px;
  }

  .menu-list {
    display: none;
  }

  .header-panel {
    padding-top: 222px;
    padding-bottom: 40px;
    justify-content: center;
  }

  .menu-button {
    position: absolute;
    top: 32px;
    right: 0;
  }

  .header-lead {
    width: 280px;
    padding-bottom: 218px;

    font-size: 26px;
    line-height: 36px;
  }

  .trends {
    margin-top: 44px;
  }

  .trends-title, .shop-title, .sidebar-title {
    font-size: 16px;
  }

  .trends-lists {
    margin-top: 24px;
  }

  .trend-list-item {
    width: 100%;
  }

  .trend-list-item:nth-child(n+2) {
    margin-top: 3px;
  }

  .container-main {
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .post-list-content {
    margin-top: 16px;
  }

  .post-list-item {
    padding-bottom: 24px;
    border-bottom: 4px solid #eeeeee;
  }

  .post-list-item:nth-child(n+2) {
    margin-top: 34px
  }

  .content-post-title {
    font-size: 16px;
    line-height: 20px;
  }

  .posts-list {
    margin-bottom: 44px;
  }

  .form-group-search {
    width: calc(100% - 48px);
  }

  .field {
    width: 100%;
  }

  .recent-posts {
    margin-bottom: 44px;
  }

  .recent-list-content {
    width: 240px;
  }

  .subscribe {
    margin-bottom: 43px;
  }

  .field-subscribe {
  
    width: 100%;
  }

  .button-subscribe {
    width: 100%;
  }

  .tags-list {
    width: 100%;
  }

  .product {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  }

  .product:nth-child(n+2) {
    margin-top: 25px;
  }

  .container-shop {
    margin-bottom: 44px;
  }
}
@media (orientation: landscape) and (max-width: 640px) {
  .trends-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
  }

  .trend-list-item {
    width: calc((100% / 2) - (3*2px));
  }

  .trend-list-item:nth-child(n+3) {
    margin-top: 3px;
  }

  .trend-list-content{

    left: 19px;
    right: 19px;
    bottom: 14px;

    padding: 32px 29px;
  }
}
@media (orientation: landscape) and (min-width: 641px) and (max-width: 1199px) {
  /*.trends-lists {
    display: flex;
    justify-content: space-between;
  }*/

  .trend-list-content{
  
    left: 20px;
    right: 20px;
    bottom: 15px;

    padding: 35px 30px;
  }
  .trend-list-item {
    width: calc((100% / 4) - (3*2px));
  }
}





